---
import Layout from "../layouts/Layout.astro";
import MainPresentation from "../components/MainPresentation/index.svelte";
import Showlist from '../components/Showlist/index.svelte'
---

<Layout title="PetSitters">
	<MainPresentation client:load />
	<div class="cards-wrapper">
		<div class="card">
			<div class="card-bg" id="bg-first"></div>
		</div>
		<div class="card">
			<div class="card-bg" id="bg-second"></div>
		</div>
		<div class="card">
			<div class="card-bg" id="bg-third"></div>
		</div>
		<div class="card">
			<div class="card-bg" id="bg-four"></div>
		</div>
	</div>
	<Showlist client:load/>
</Layout>

<style>
	.cards-wrapper {
		box-sizing: border-box;
		padding: 4vw 14vw;
		min-height: 70vh;
		background-color: #ffc727;
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-column-gap: 1rem;
	}
	.card {
		border-bottom-left-radius: 50px;
		border-bottom-right-radius: 50px;
		background-color: #5e64ff;
	}
	.card-bg{
		height: 40%;
		widows: 100%;
		background-color: aqua;
	}
</style>
